#Object files
.obj
.o

#Build directorys
build/
dist/
CMakeFiles/
CMakeCache.txt
*.egg-info/
*.pyd

#VS Code Configurations
#.vscode/

#Python Virtual Environment
env*/

#Python .pyc cache
__pycache__/

#Loacl libs
bit7z-*/
7zip/